 <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
  
          <header class="section-header">
            <h3>Nosotros</h3>
            <p>Somos una clínica psicológica abierta las 24 hs. del día. Ofrecemos la mejor ayuda y atención cuando usted lo requiera.</p>
          </header>
  
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <p>Desde el 2017 nuestro equipo de profesionales ofrece atención personalizada y confidencial y como queremos seguir brindando el mejor servicio posible, desde 2020 dado el contexto de pandemia decidimos ampliar nuestra atención de manera online.          </p>
  
              <div class="icon-box wow fadeInUp">
                <div class="icon"><i class="fa fa-shopping-bag"></i></div>
                <h4 class="title"><a href="">Atención Personalizada</a></h4>
                <p class="description">Elija atenderse de manera  online o presencial en el horario que necesite con el profesional que más le guste</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                <div class="icon"><i class="fa fa-photo"></i></div>
                <h4 class="title"><a href=""> Grandes Profesionales</a></h4>
                <p class="description"> Le ofrecemos la mejor selección de psicólogos profesionales y un equipo en constante capacitación para una mayor especificidad de tratamiento para usted.</p>
              </div>
  
              <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                <div class="icon"><i class="fa fa-bar-chart"></i></div>
                <h4 class="title"><a href="">Variedad de terapias y enfoques</a></h4>
                <p class="description">Además, contamos con diversas terapias y técnicas para abordar problemas de ansiedad, depresión, estrés, de pareja, de adicción y muchos más. ¡Permitanos ser parte de su camino hacia su bienestar pleno emocional, individual y social!</p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
              <img src="assets/img/grupo.jpg" class="img-fluid" alt="">
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp">
              <img src="assets/img/terapiaverde.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
              <h4>Podés elegir la terapia que te sea más cómoda</h4>
              <p>Es bien sabido que todo lo que nos rodea influye  continuamente sobre nosotros y nuestro estado de ánimo. Por esa razón nuestro espacio físico en la Clínica BienEstar está ambientado para que se sienta en todo momento como en su hogar con todas las comodidades que pudiera tener de la manera más accesible.           </p>
              <p>
                Incluso nuestro más reciente espacio online continúa con esa calidez que nos caracteriza para que pueda elegir la forma ideal de acercarse o continuar   su tratamiento psicológico.
              </p>
            </div>
          </div>
  
          <div class="row about-extra">
            <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
              <img src="assets/img/chicaazul.png" class="img-fluid" alt="">
            </div>
  
            <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
              <h4>¡También podés cambiar la modalidad de tu sesión cuando gustes! ¡o combinar ambas modalidades!
              </h4>
              <p>Siempre podés informarte sobre la modalidad con la que se maneja cada psicólogo en particular. También podes charlarlo con un profesional en una entrevista de admisión, algunos otorgan atención bimodal.        </p>
              <p>Recordá que lo que importa es tu bienestar y comodidad por lo que es tu derecho informarte de todo lo que necesites antes de comenzar. Es importante que te interiorices en el tipo de terapia que te gustaría realizar y resuelvas todas tus dudas antes de comenzar. No te preocupes, nosotros podemos ayudarte.       </p> <p>Nuestro objetivo es brindarle la mejor atención posible siempre que necesite, trabajando con usted y para usted. ¡El principal objetivo es  ayudarte a vivir una vida plena y feliz! </p>
            </div>
            
          </div>
  
        </div>
      </section><!-- #about -->