 <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Clínica Bienestar</h3>
            <p>¡Gracias por visitar nuestra página web o centro clínico!<br>Apreciamos sinceraente su interés en nuestros servicios. Estamos continuamente en mejora para ofrecerle apoyo, orientacion y cuidado psicológico. No dudes en contactarnos si tiene alguna pregunta o si deaea programar una cita. <br> ¡Esperamos poder ayudarte en tu camino hacia una vida plena y feliz! </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Enlaces Útiles</h4>
            <ul>
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Términos De Servicio</a></li>
              <li><a href="#">Política De Privacidad</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contacto</h4>
            <p>
              Gascón 1622 <br>
             Mar del Plata, Buenos Aires<br>
              Argentina <br>
              <strong>Teléfono:</strong> +54 223 6687954<br>
              <strong>Email:</strong> bienestar@clinica.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Nuestro Boletín Informativo</h4>
            <p>¿Querés recibir tus noticias, actualizaciones, artículos acerca de nosotros y de cómo aplicar la psicología en tu día a día? ¡Suscribite y te enviaremos esta información y más vía mail!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit"  value="Suscribirse">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BienEstar</strong>. Todos los Derechos Reservados
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=NewBiz
        -->
        Diseñado por <a href="https://bootstrapmade.com/">GretaPontaroli</a>
      </div>
    </div>
  </footer><!-- #footer -->