 <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="clearfix">
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Blog</h3>
          </header>
  
          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">Clinica BienEstar</li>
                <li data-filter=".filter-app">Terapias</li>
                <li data-filter=".filter-card">Notas</li>
                <li data-filter=".filter-web">Promocional</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/terapia1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">¿TCC? </a></h4>
                  <p>Caracterizada por su breve duración, la Terapia Cognitivo Conductual ayuda a modificar pensamientos, sentimientos y comportamientos negativos...</p>
                  <div>
                    <a href="assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="vista previa"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/clinica1.PNG" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Nueva sede</a></h4>
                  <p>Muy pronto contaremos con otro edificio donde compartiremos espacio con otros profesionales de la salud. Enterate pronto de más novedades...</p>
                  <div>
                    <a href="assets/img/portfolio/web3.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="vista previa"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/terapia2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Al diván</a></h4>
                  <p>¿Qué es el psicoanálisis y su famoso diván? El psicoanálisis es la terapia más elegida en nuestro país, te contamos qué es y cómo funciona...</p>
                  <div>
                    <a href="assets/img/portfolio/app2.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="vista previa"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/articulo2.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">IA'S psicólogas</a></h4>
                  <p>¿Puede la inteligencia artifical reemplazar a la terapia? Desde hace muchos años las IA y la psicología trabajan en conjunto y si bien la terapia no será reemplazada por ello, puede ser una herramienta de gran ayuda. Leé más aquí... </p>
                  <div>
                    <a href="assets/img/portfolio/card2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="vista previa"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.1s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/clinica2.PNG" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Grupo debate</a></h4>
                  <p>Si sos estudiante o profesional de psicología unite a nuestro grupo de Facebook para intercambiar conocimiento con otros colegas...</p>
                  <div>
                    <a href="assets/img/portfolio/web2.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="vista previa"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-app" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/terapia3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#"> ¿Qué es la ACT?</a></h4>
                  <p>La terapia que deja a un lado los síntomas. La terapia de Aceptación y Compromiso...</p>
                  <div>
                    <a href="assets/img/portfolio/app3.jpg" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="vista previa"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/articulo1.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">¿Corazón o Ansiedad?</a></h4>
                  <p>El dolor de pecho por un ataque al corazón es muy parecido al de la ansiedad. Enterate las diferencias aquí..</p>
                  <div>
                    <a href="assets/img/portfolio/card1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Card 1" title="vista previa"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-web" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <img src="assets/img/portfolio/clinica3.jpg" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4><a href="#">Nuevos consultorios</a></h4>
                  <p>Seguimos ampliando nuestros espacios, más modernos, más cálidos, con más comodidades para usted...</p>
                  <div>
                    <a href="assets/img/portfolio/web1.jpg" class="link-preview" data-lightbox="portfolio" data-title="Web 1" title="vista previa"><i class="ion ion-eye"></i></a>
                    <a href="#" class="link-details" title="más detalles"><i class="ion ion-android-open"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->