<!-- Header -->
<app-header></app-header>
<!-- fin header-->

<!-- Inicio -->
<app-inicio></app-inicio>
<!-- fin inicio-->

<main id="main">
  
<!-- Nosotros -->
<app-nosotros></app-nosotros>
<!-- fin nosotros-->

<!-- Servicios -->
<app-servicios></app-servicios>
<!-- fin servicios-->
   
<!-- por qué nosotros?-->
<app-whyus></app-whyus>
<!-- fin por qué nosotros? -->

<!-- Portfolio-Blog -->
<app-portfolio></app-portfolio>
<!-- fin de portfolio-->

<!-- Equipo de trabajo -->
<app-equipo></app-equipo>
<!-- fin equipo de trabajo-->

<!-- Contacto -->
<app-contacto></app-contacto>
<!-- fin de contacto -->
   
</main>

<!-- Pie de página -->
<app-pie-pagina></app-pie-pagina>
<!-- fin pie de página -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->
  
<router-outlet></router-outlet>
