 <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Servicios</h3>
            <p>A continuación encontrarás una lista de las dudas más frecuentes acerca de nuestro servicio</p>
          </header>
  
          <div class="row">
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
                <h4 class="title"><a href="">Tipos de Terapia </a></h4>
                <p class="description"> En psicología hay distintos enfoques, cada uno con una manera particular de llevar a cabo el tratamiento, unos más breves, otros más largos, etc. Clickea acá para conocerlos.</p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-bookmarks-outline" style="color: #e9bf06;"></i></div>
                <h4 class="title"><a href="">Honorarios y modalidades</a></h4>
                <p class="description">Los precios varían dependiendo que modalidad elijas, presencial, online o ambas.  El precio tiene un ajuste bimestral. Podés saber más consultando a tu psico.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
                <h4 class="title"><a href="">Admisión y requisitos</a></h4>
                <p class="description">Cuando te contactes con nosotros se hará una evaluación y posterior entrevista de admisión para conocer acerca de tu problema y charlar acerca de los requisitos y así armar un mejor plan terapéutico a seguir.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
                <h4 class="title"><a href="">Terapia Online</a></h4>
                <p class="description">El tratamiento puede ser completamente online. Las sesiones se realizan vía Zoom o Google Meet. Es necesario contar con buena conexión a internet.</p>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 offset-lg-1 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-world-outline" style="color: #d6ff22;"></i></div>
                <h4 class="title"><a href="">Problemas que tratamos</a></h4>
                <p class="description">Ansiedad, depresión, estrés, adicciones, patologías graves, trastornos infantiles, trastornos alimentarios, de pareja, familiares, etc.  </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
              <div class="box">
                <div class="icon"><i class="ion-ios-clock-outline" style="color: #4680ff;"></i></div>
                <h4 class="title"><a href="">Duración de tratamientos</a></h4>
                <p class="description"> La duración varía dependiendo el problema y la persona, el profesional y tipo de terapia que realice. Quedate tranquilo que el tiempo que sea es para mejorar tu bienestar y calidad de vida.</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #services -->