<!--==========================
      Clients Section
    ============================-->
    <section id="testimonials" class="section-bg">
        <div class="container">
  
          <header class="section-header">
            <h3>Testimonios de pacientes</h3>
          </header>
  
          <div class="row justify-content-center">
            <div class="col-lg-8">
  
              <div class="owl-carousel testimonials-carousel wow fadeInUp">
      
                <div class="testimonial-item">
                  <img src="assets/img/testimonial-1.jpg" class="testimonial-img" alt="">
                  <h3>Anónimo</h3>
                
                  <p>
                    La psicóloga María José fue muy simpática y amable desde el primer momento, me sentí cómodo y segura para expresarme en todo momento asi que el tratamiento fue breve y llevadero. Por fin pude sanar  y superar mis problemas emocionales! Gracias!!
                  </p>
                </div>
      
                <div class="testimonial-item">
                  <img src="assets/img/testimonial-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Giménez</h3>
                  <p>
                    Nunca fui muy afín a los psicologos porque sentia que nunca avanzaba. Ya llevo 4 meses viniendo a la clínica y debo decir que me siento mejor cada vez. Las chicas de mesa de entrada son siempre un amor y el señor Sebastián es un excelente profesional que me contuvo y luchó para que yo pudiera estar bien y dejar de lado la idea de que estoy estancada y esto no sirve. Estoy mejorando mi calidad de vida poco a poco y estoy aprendiendo herramientas que no sabía que existían, ahora puedo enfrentar desafíos diarios con mayor confianza y serenidad
                  </p>
                </div>
      
                <div class="testimonial-item">
                  <img src="assets/img/testimonial-3.jpg" class="testimonial-img" alt="">
                  <h3>Jerónimo Paván</h3>
                  <p> estoy lidiando con mi ansiedad y tratando de entender mis pensamientos y emociones de una manera más profunda. Me salva poder conectarme en cualquier momento con la psicologa Lucrecia porque a veces la estoy pasando mal y no puedo ir a la clinica pero se que nos organizamos y nos conectamos por videollamada y es más facil.     </p>
                </div>
      
                <div class="testimonial-item">
                  <img src="assets/img/testimonial-4.jpg" class="testimonial-img" alt="">
                  <h3>Liliana Fernández</h3>
                  <p>GRACIAS ALA SEÑORITA NATALIA ESTAMOS LLEVANDO LA VIDA DE OTRO MODO CON MI MARIDO. LA CLINICA ES MUY LINDA Y TODO EL EQUIPO NOS DIO UN SERVICIO ACOGEDOR DESDE EL PRIMER DÍA. GRACIAS!!!                </p>
                </div>
      
                <div class="testimonial-item">
                  <img src="assets/img/testimonial-5.jpg" class="testimonial-img" alt="">
                  <h3>Merlina P.</h3>
                  <p> El trabajo que vengo realizando hace unos años me permitió reconstruir mi relación con mi familia y amigos. Me puedo comunicar de manera más efectiva y sana, mejoré significativamente mi vida y estoy cada vez más feliz. Gracias a la psicóloga Greta, es la mejor profesional con la que me he atendido en mi vida, la quiero mucho</p>
                </div>
  
              </div>
  
            </div>
          </div>
  
  
        </div>
      </section><!-- #testimonials -->